// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588s-yyt-common.dtsi"

/ {
    model = "Youyeetoo R1";
    compatible = "youyeetoo,r1", "rockchip,rk3588";

    gpio_keys: gpio-keys {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&key1_pin>;

        button@1 {
            debounce-interval = <50>;
            gpios = <&gpio1 RK_PC0 GPIO_ACTIVE_LOW>;
            label = "K1";
            linux,code = <BTN_1>;
            wakeup-source;
        };
    };

    fan_ctrl {
        compatible = "lylx,xgpio";
        gpio = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        def_val = <0>;
        status = "okay";
    };     

    usb30_power_ver1 {
        compatible = "lylx,xgpio";
        gpio = <&gpio4 7 GPIO_ACTIVE_HIGH>;
        def_val = <1>;
        status = "okay";
    };

    usb30_power {
        compatible = "lylx,xgpio";
        gpio = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        def_val = <1>;
        status = "okay";
    };
};

&pinctrl {
    gpio-key {
        key1_pin: key1-pin {
            rockchip,pins = <1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    xgpio{
        gpio_4g:gpio-4g{
                rockchip,pins =
                        <0 23  RK_FUNC_GPIO &pcfg_pull_up>,
                        //<3 26 RK_FUNC_GPIO &pcfg_pull_up>,
                        //<3 27 RK_FUNC_GPIO &pcfg_pull_up>,
                        //<0 21 RK_FUNC_GPIO &pcfg_pull_up>,
                        //<0 29 RK_FUNC_GPIO &pcfg_pull_up>,
                        //<4 6  RK_FUNC_GPIO &pcfg_pull_up>,
                        <4 7  RK_FUNC_GPIO &pcfg_pull_up>,
                        <0 8  RK_FUNC_GPIO &pcfg_pull_up>;
                        //<4 10  RK_FUNC_GPIO &pcfg_pull_none>,
                        //<4 13 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };
    
    hym8563 {
        hym8563_int: hym8563-int {
                rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };
};

&i2c6 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c6m3_xfer>;

    hym8563: hym8563@51 {
        compatible = "haoyu,hym8563";
        reg = <0x51>;
        #clock-cells = <0>;
        clock-frequency = <32768>;
        clock-output-names = "hym8563";
        status = "okay";
    };
};

&pwm7{
     pinctrl-0 = <&pwm7m0_pins>;
     status = "okay";
};

&pwm11 {
    pinctrl-0 = <&pwm11m1_pins>;
    pinctrl-names = "active";
    status = "okay";
};

&pwm12 {
     status = "okay";
     pinctrl-names = "active";
     pinctrl-0 = <&pwm12m1_pins>;
};

&backlight {
     pwms = <&pwm12 0 25000 0>;
     status = "okay";
};
&backlight1 {
     pwms = <&pwm11 0 25000 0>;
     status = "okay";
};

